* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  width: 100%;
  max-height: 80px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
  //box-shadow: 2px 2px 6px 0px rgba(11, 47, 99, 0.08);
  position: absolute;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  gap: 8px;
}

.header h1 {
  font-size: 1.5em;
  font-weight: 400;
}

.pageContent {
  height: fit-content;
  position: relative;
  top: 62px;
  padding: 32px 40px;
}

.pageContent .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recipesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipesList .recipeItem {
  box-shadow: 2px 2px 6px 0px rgba(11, 47, 99, 0.08);
  overflow: hidden;
  border-radius: 16px;
  margin: 8px;
  transition: box-shadow 0.3s;
}

.recipesList .recipeItem:hover {
  box-shadow: 2px 2px 6px 0px rgba(11, 47, 99, 0.16);
  cursor: pointer;
}

.recipesList .recipeItem .recipeText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px 16px;
}

.pageContent .container .recipeImage {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.pageContent .container .floatingButton {
  width: 60px;
  height: 60px;
  background-color: #EE3E54;
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.2);
  border-radius: 30px;
  position: fixed;
  bottom: 60px;
  right: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form {
  align-self: center;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form div input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #CACACA;
  padding: 2px 8px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.form div textarea {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #CACACA;
  resize: vertical;
  padding: 8px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.ingredientsField .ingredientInput,
.methodsField .methodInput,
.prepTimeField .prepTimeInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ingredientInput select {
  height: 45px;
  border-radius: 20px;
  border: 2px solid #CACACA;
  padding: 2px 8px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}